[submodule "include/cub"]
	path = include/cub
	url = https://github.com/NVlabs/cub.git
[submodule "include/cudahelpers"]
	path = include/cudahelpers
	url = https://github.com/gravitino/cudahelpers.git
